---
layout: default-pt
lang: pt
---

<div class="home">

<a class="flag" href="index.html"><img src="/img/USA.png" alt="USA" width="24" height="24" /> English</a>

  <h1 class="page-heading">Próximo Sábado</h1>
    
  <h2>Cinquenta Tons De Liberdade</h2>
  <p>Relacionamentos de ESMD (Escravidão, Sado-Masoquismo, Dominação) estão agora se tornando popular e irônicos. Mas, surpreendentemente, muitos homens e mulheres têm tido relacionamentos BDSM, mas não percebem isso.</p>
    
  <p>Você é uma dessas pessoas, tem tido um relacionamento desses? Você ficará chocado ao descobrir que você provavelmente é.</p>
    
  <p>E se o filme instruir-nos com precisão a forma de encontrar e participar no encontro mais incrível de nossas vidas? Junte-se a nós na próxima semana ao procurarmos respostas e descobrir como podemos ser verdadeiramente libertos.</p>  
    
  <h1 class="page-heading">Programas anteriores</h1>


{% assign posts=site.posts | where:"lang", page.lang %}
<ul class="post-list">
{% for post in posts %}
<!--        <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a> -->
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-audio">
          <a href="{{ post.url | prepend: site.baseurl }}"></a>
          {{ post.audio }}
        </p>
      </li>

{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>


</div>





