---
layout: default-pt
lang: pt
---

<div class="home">

<a class="flag" href="index-pt.html"><img src="/img/USA.png" alt="USA" width="24" height="24" /> English</a>

  <h1 class="page-heading">Próximo Sábado</h1>
    
<!--   <h2>Tema De Star Wars: O Primeiro Coro Rebelde Parte 2</h2> -->
 
  <p>Em Breve</p>

  <h1 class="page-heading">Programas anteriores</h1>

{% assign posts=site.posts | where:"lang", page.lang %}
<ul class="post-list">
{% for post in paginator.posts %}

<!--        <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a> -->
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-audio">
          <a href="{{ post.url | prepend: site.baseurl }}"></a>
          {{ post.audio }}
        </p>
      </li>

{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>


</div>



