---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    
    
  </header>

  <article class="post-content">
    <p>
      {{ page.audio }}
    </p>


{% if page.lang == "en" %}
    <p>If you like it, our hope is that you will share it with 7 people!</p>
    
    <p>
        <a href="whatsapp://send" data-text="Take a look at this website. You have to hear this!" data-href="" class="wa_btn wa_btn_l" style="display:none">Share on Whatsapp</a
    </p>
{% elsif page.lang == "pt" %}
    <p>Se você gostou, nosso desejo é que você o compartilhe com 7 pessoas!</p>
    <p>
        <a href="whatsapp://send" data-text="Você tem que ver isto!" data-href="" class="wa_btn wa_btn_l" style="display:none">Compartilhe no Whatsapp</a
    </p>
{% endif %}


    <p>
<!--        <span class='st_sharethis_large' displayText='ShareThis'></span> -->
        <span class='st_email_large' displayText='Email'></span>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
    </p>
<!--    
    <p>{{ page.summary }}</p>


      <p>{{ page.summary-pt }}</p>
  -->    
  
  </article>

</div>