---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    
    <!--
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    
    -->
    
  </header>

  <article class="post-content">
<!--     {{ content }} 
    
    <h3>{{ page.subtitle }}</h3>
    <h3>{{ page.subtitle-pt }}</h3>
    -->
    <p>
      {{ page.audio }}
    </p>
    
    <p>Share this show with your friends</p>
    <p>
        <a href="whatsapp://send" data-text="Listen to Iron Radio Show:" data-href="" class="wa_btn wa_btn_l" style="display:none">Share</a
    </p>
    <p>
        <span class='st_sharethis_large' displayText='ShareThis'></span>
        <span class='st_email_large' displayText='Email'></span>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
    </p>
<!--    
    <p>{{ page.summary }}</p>


      <p>{{ page.summary-pt }}</p>
  -->    
  
  </article>

</div>